/*
  Style for Archives
*/

#archives {
  letter-spacing: 0.03rem;

  %timeline {
    content: '';
    position: relative;
    float: left;
    background-color: var(--timeline-color);
  }

  .year {
    height: 3.5rem;
    font-size: 1.5rem;
    position: relative;
    left: 2px;
    font-weight: bold;

    &::before {
      @extend %timeline;

      height: 72px;
      left: 79px;
      bottom: 16px;
    }

    &:first-child::before {
      @extend %timeline;

      height: 32px;
      top: 24px;
    }

  }

  ul {
    li {
      font-size: 1.1rem;
      line-height: 3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:nth-child(odd) {
        background-color: var(--main-bg, #ffffff);
        background: transparent;
      }

      &::before {
        @extend %timeline;

        top: 0;
        left: 77px;
        height: 3.1rem;
      }
    }

    &:last-child li:last-child::before {
      height: 1.5rem;
    }
  } /* #archives ul */

  .date {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    right: 0.5rem;

    &.month {
      width: 1.4rem;
      text-align: center;
    }

    &.day {
      font-size: 85%;
      font-family: Lato, sans-serif;
    }
  }

  a {
    /* post title in Archvies */
    margin-left: 2.5rem;
    position: relative;
    color: var(--text-color);

    &:hover {
      border-bottom: none;
    }

    &::before {
      /* the dot before post title */
      content: '';
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      float: left;
      top: 1.3rem;
      left: 75px;
      background-color: var(--timeline-node-bg);
      z-index: 1;
    }
  }
} /* #archives */

@media all and (max-width: 576px) {
  #archives {
    margin-top: -1rem;

    ul {
      letter-spacing: 0;
    }
  }
}
